<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>Photo</title>
  </head>

  <body class="m-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>

          <div style="height: 90vh">
            <img
              style="max-width: 100%; max-height: 100%"
              src="https://source.unsplash.com/I3C1sSXj1i8/1600x900"
              alt="Leopard"
            />

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Dignissimos necessitatibus consectetur ipsa! Dolores porro esse
              veritatis sunt recusandae distinctio ad aliquam dolore, cum quas
              voluptatibus corporis hic autem fugit nobis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
